.container
{
  display: flex;
  flex-direction: column;

  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.create_container
{
  flex-direction: column;
}

.colour_select_container
{
  display: flex;
  flex-direction: row;
}

.todo_container{
  display: flex;
}

.todo_list{
  display: flex;
  flex-direction: row;
}

.todo{
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  min-width: 220px;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todo .delete_button{
  position: absolute;
  top: 0px;
  right: 0px;
}

.todo.blue{
  background-color: rgba(0, 0, 255, 0.37);
}

.todo.red{
  background-color: rgba(255, 0, 0, 0.37);
}

.todo.green{
  background-color: rgba(0, 255, 0, 0.37);
}

.todo.yellow{
  background-color: rgba(255, 235, 59, 0.37);
}
