<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Vue.js Test</title>

  <!-- include vue.js -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>

  <!-- main css rules -->
  <link rel="stylesheet" type="text/css" href="css/main.css">

</head>

<body>
  <!-- main app content -->
  <div id="app">
    <!-- todo creation -->
    <div class="create_container container">
      <h2>Create New</h2>
      <input v-model="newTodoTitle" placeholder="Title">
      <textarea  v-model="newTodoText" placeholder="Text"></textarea>
      <!-- generate color picker -->
      <div class="colour_select_container">
        <div v-for="colour in colours">
          <input type="radio" :id="colour" :value="colour" v-model="newTodoColour">
          <label :for="colour">{{colour}}</label>
        </div>
      </div>
      <button v-on:click="addTodo" :disabled="!(newTodoTitle && newTodoText && newTodoColour)">Add Event</button>
    </div>

    <div class="container">
      <h2>Filter</h2>
      <!-- generate color picker -->
      <div class="colour_select_container">
        <div v-for="colour in colours">
          <input type="checkbox" :id="'show' + colour" :value="colour" v-model="showColours">
          <label :for="'show' + colour">{{colour}}</label>
        </div>
      </div>
    </div>

    <div class="todo_container container">
      <h2>ToDos</h2>
      <!-- todolist -->
      <div class="todo_list">
        <div v-for="todo in todos" v-if="showColours.length == 0 || showColours.includes(todo.colour)" class="todo" v-bind:class=todo.colour>
          <h3>{{ todo.title }}</h3>
          <p>{{ todo.text }}</p>
          <button class="delete_button" v-on:click="removeTodo($index)">X</button>
        </div>
      </div>
    </div>
  </div>

  <!-- my js file -->
  <script src="js/main.js"></script>
</body>

</html>
